.nav-item:hover {
  background-color: #f49681;
  border-radius: 5px;
  color: black !important;
}
.nav-brand {
  font-weight: 600;
  // color: rgb(4, 89, 89);
  color: black;
  font-size: 30px;
}
.nav-color {
  background-color: #ff5733 !important;
  // background-color: teal !important;
  font-weight: 600;
}
.nav-item {
  color: white !important;
}
