.login-view {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  background-color: #f8f9fa;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

  .form-label {
    font-weight: bold;
  }

  .form-control {
    margin-bottom: 15px;
    background-color: white !important;
    color: black;
  }

  .btn-primary {
    width: 100%;
    color: white;
    font-weight: 600;
  }
  .toggle-password-btn,
  .outline-secondary {
    position: absolute; /* Position the button over the input */
    top: 40%; /* Center vertically */
    right: 10px; /* Adjust alignment to the right edge */
    transform: translateY(-50%);
    border: none;
    background-color: transparent; /* Make it blend with the input field */
    color: #6c757d !important;
    cursor: pointer;
    z-index: 10;
    &:hover {
      color: #0d6efd !important; /* Highlight color on hover */
    }
  }
  .input-group {
    position: relative;
  }
}
