$color: steelblue;

.my-flix {
  color: $color;
}
.second-row {
  margin-bottom: 20px; /* Adjust the margin value as needed */
}
.btn-primary {
  margin-top: 10px;
}

// $primary: teal;
// $primary: #ff5000;
$primary: #ff5733;
$body-bg: black;

@import '~bootstrap/scss/bootstrap.scss';
